@media (max-width: 768px) {
  .header__tamanho, .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .input_header {
    width: 100%;
  }

  .menu_header ul {
    display: flex;
    flex-direction: column;
  }

  .texto_main {
    max-width: 90%;
    margin: auto;
  }

  .carousel-container {
    width: 100%;
  }
}

/* Header */
.header__cor {
  background-color: #c3e3fd;
  color: #2f2c79;
}

.header__tamanho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu_header {
  display: none;
}

.img_nav {
  border-radius: 5%;
  width: 12%;
}

.menu_header ul {
  list-style: none;
}

.menu_header ul li a {
  color: #2f2c79;
  background-color: white;
  text-decoration: none;
  border: solid 1px black;
  border-radius: 5px;
  padding: 14px 25px;
}

.menu_header ul li a:hover {
  background-color: #c3e3fd;
  transform: scale(1.1);
}

.cart_header {
  color: #1b1212;
}

.cart_header:hover {
  transform: scale(1.1);
  cursor: pointer;
}

a:focus, button:focus {
  outline: 2px solid #2f2c79;
  outline-offset: 2px;
}

#menuOptions {
  display: none; /* Inicialmente oculto */
}

#menuOptions.active {
  display: block; /* Exibe o menu quando a classe 'active' é adicionada */
}


/* Carousel */
.carousel-container {
  position: relative;
  width: 750px;
  margin: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  box-shadow: 9px 10px 15px rgb(154, 148, 148);
  border-radius: 15px;
}

.carousel-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 18px;
  color: white;
  transition: 0.6s;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Main Content */
.texto_main {
  font-family: Arial, sans-serif;
  background-color: #FFE7D6;
  text-align: center;
  max-width: 50%;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 9px 10px 5px rgb(154, 148, 148);
  border-radius: 10px;
}

.texto_main h1 {
  font-size: 24px;
  color: #333;
}

.texto_main p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

/* Footer */
footer {
  background-color: #1d1c51;
  padding: 10px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.social-media-icons {
  display: flex;
  gap: 10px;
}

.social-media-icons img {
  border-radius: 50%;
}

img {
  max-width: 100%;
  height: auto;
}

 